{% extends "_staticpage.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block article %}
##Services##

- [Twitter](https://twitter.com/sszka)
- [Gist](https://gist.github.com/vim13) / [GitHub](https://github.com/vim13)
- [last.fm](http://www.last.fm/user/vim13)
- [Tumblr](http://vim13.tumblr.com/)
- [Fancy](http://www.thefancy.com/sasazuka)
- [Ustream](http://www.ustream.tv/user/inksr)
- [XBOX/Origin]: vim13　[WiiU/Steam]: sasazuka　[3DS]: 1719-4391-3452
- [DQX](http://hiroba.dqx.jp/sc/character/914187492213/)



##Recent Posts##

{%recent_posts recents 5 %}


{%for post in recents %}
- [{{post.title}}]({{post.url}})
{%endfor%}


{% endblock %}
