{% extends "_staticpage.html" %}

{% block title %}{{ site.name }}{% endblock %}

{% block article %}
##Services##

- [Twitter](https://twitter.com/inksr)
- [Gist](https://gist.github.com/vim13) / [GitHub](https://github.com/vim13)
- [last.fm](http://www.last.fm/user/vim13)
- Tumblr [vim13](http://vim13.tumblr.com/) / [sasazukaphotos](http://sasazukaphotos.tumblr.com/)
- [Fancy](http://www.thefancy.com/sasazuka)
- [twitch](http://ja.twitch.tv/sszkdwf)
- [XBOX/Steam/Origin]: vim13　[WiiU]: sasazuka　[3DS]: 1719-4391-3452



##Recent Posts##

{%recent_posts recents 5 %}

{%for post in recents %}
- [{{post.title}}]({{post.url}})
{%endfor%}

{% endblock %}
